@import 'bootstrap/scss/bootstrap';


#login-button{
    padding: 5px 40px;
    margin: 10px 0px 0px 10px;
    font-family: "Roboto-Regular",arial,sans-serif;
    border-radius: 20px;

}

#google-button{
    padding: 5px 50px;
    margin: 10px 0px 0px 10px;
    font-family: "Roboto-Regular",arial,sans-serif;
    border-radius: 20px;

}


